.avatar {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 100%;

    & img {
        border-radius: 100%;
    }

    &_online {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 2px;
            width: 10px;
            height: 10px;
            background: #00C305;
            border: 1.5px solid #FFFFFF;
            border-radius: 100%;
        }
    }
}