.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 25px;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: transparent;

    & img {
        margin-right: 7px;
    }

    &_attach {
        background: #000;
        box-shadow: none;
        border-radius: 20px;
        padding: 10px 13px;

        & svg {
            margin-right: 5px;
        }
    }

    &_file {
        color: $primary-color;
        background: rgba(42, 139, 242, 0.25);
        margin-right: 20px;

        & rect {
            fill: $primary-color;
        }
    }

    &_photo {
        color: $additional-color;
        background: rgba(255, 51, 102, 0.25);

        & rect {
            fill: $additional-color;
        }
    }
}