.chat {
    flex-basis: 44%;
    margin-right: 60px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 60px;
        background: #fff;
        margin-top: 109px;

        &-text {
            margin-left: 20px;
        }
    }

    &__left {
        display: flex;
        align-items: start;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        color: $headers-color;
    }

    &__status {
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
        margin-top: 6px;
    }

    &__right {
        width: 124px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        background: #ffffff;
        padding: 0 60px;
        height: 100%;
    }

    &__message {
        width: 90%;
        display: flex;
        align-items: start;
        padding-top: 30px;

        &-items {
            margin-left: 24px;
        }

        &-item {
            display: flex;
            align-items: center;

            & p {
                background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
                box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                border-radius: 0px 10px 10px 10px;
                padding: 14px 27px 25px 22px;

                // display: flex;
                // align-items: center;
                // justify-content: start;
                & :last-of-type {
                    position: relative;
                }
            }

            & img {
                margin-left: 24px;
                cursor: pointer;
            }

            &:not(:first-child) {
                margin-top: 15px;
            }

            &_my {
                flex-direction: row-reverse;

                & p {
                    color: $secondary-color;
                    background: #FFFFFF;
                    border: 1px solid rgba(112, 124, 151, 0.25);
                    border-radius: 10px 10px 0 10px;
                    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
                    margin-left: 14px;
                }
            }
        }

        &-sent {
            position: absolute;
            bottom: -50px;
            right: -20px;
            margin-top: 5px;
            color: rgba(112, 124, 151, 0.7);
        }

        &_my {
            flex-direction: row-reverse;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        margin-left: 20px;
        text-decoration: none;

        & span {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__panel {
        width: 100%;
    }
}