.chats {
    flex-basis: 31%;
    height: 100%;
    overflow-y: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 109px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: .01em;
        color: $headers-color;
    }

    &__filter {
        display: flex;
        align-items: center;

        &-submenu {
            background: #F3F3FB;
            list-style: none;
            position: absolute;
            bottom: -80px;
            transform: translateY(-500%);
            opacity: 0;
            transition: all .3s;

            &_active {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &-element {
            position: relative;
            display: flex;
            align-items: center;


            & a {
                width: 100%;
                margin: 15px 0;
                font-size: 18px;
                color: $secondary-color;
                text-transform: capitalize;
                text-decoration: none;
            }

            & span {
                margin-right: 10px;
            }
        }

    }

    &__search {
        width: 100%;
        background: #ffffff;
        margin-top: 25px;
        padding: 23px 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & label {
            display: flex;
            align-items: center;
        }

        &-filter {
            display: flex;
            align-items: center;

            &-submenu {
                width: 100%;
                background: #fff;
                list-style: none;
                position: absolute;
                bottom: -90px;
                left: 0;
                transform: translateY(-500%);
                opacity: 0;
                transition: all .3s;

                & a {
                    margin: 15px 0;

                    & span {
                        padding-left: 15px;
                    }
                }

                &_active {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            &-element {
                position: relative;
                display: flex;
                align-items: center;


                & a {
                    width: 100%;
                    font-size: 18px;
                    color: $secondary-color;
                    text-transform: capitalize;
                    text-decoration: none;
                }

                & span {
                    margin-right: 10px;
                }
            }
        }
    }

    &__input {
        width: 80%;
        font-size: 18px;
        font-weight: 500;
        color: $secondary-color;
        border: none;
        outline: transparent;
        margin-left: 10px;
    }

    &__body {
        width: 100%;
        max-height: 793px;
        overflow-y: scroll;
    }
}